<%- include("partials/header") -%>
<% for(content in homeContent){%>
<h1><%= homeContent[content].title %> </h1>
<p> <%= homeContent[content].post.substr(0,100) + "..." %>
  <a href="/posts/<%=homeContent[content].title%>" >Read more</a>
</p>
<% } %>
<%- include("partials/footer") -%>
